#article_bdd {
    background-color: white;
    width: auto;
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#article_bdd .zone_item {
    width: 27%;
    border: 3px solid var(--color-ourson);
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 3vw;
}

#article_bdd .zone_item .name_item {
    width: auto;
    font-size: 2vw;
    font-family: font_title;
    color: var(--color-ourson);
    margin-top: 1.5vw;
    margin-left: 2vw;
}

#article_bdd .zone_item img {
    max-width: 20vw;
    max-height: 15vw;
    padding-top: 3vw;
    padding-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}

#article_bdd div .zone_price {
    display: flex;
    position: absolute;
    padding-bottom: 1.2vw;
    bottom: 0;
}

#article_bdd div .zone_price p {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2.5vw;
    font-size: 1.5vw;
    font-family: font_main_reg;
    margin-right: 14vw;
}

#article_bdd div .zone_price .add_to_cart_button {
    width: auto;
    height: auto;
    background-color: white;
    border: 2px solid var(--color-ourson);
    border-radius: 50%;
    padding: 1vw;
}

#article_bdd div .zone_price .add_to_cart_button i {
    margin: auto;
    padding-top: 0.2vw;
    color: var(--color-ourson);
    font-size: 1.5vw;
}